* {
    text-decoration: none;
}

nav{
    width: 100%;
    height: 115px;
    background-color: rgba(255,255,255,.7);
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,.1);
}
.header-nav {
    width: 100%;
    height: 85px;
    margin-top: 15px;
}

.header-nav ul {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    /*border-radius: 0 0 15px 15px;*/
}

.header-nav ul li {
    width: 10%;
    height: 100%;
    float: left;
    line-height: 85px;
}

.header-nav ul li:first-of-type {
    width: 60%;
}
.header-nav ul li:first-child img{
    width: 80px;
    height: 80px;
}
.header-nav ul li:first-child span{
    display: block;
    width: calc(100% - 90px);
    height: 100%;
    font-size: 31px;
    float: right;
}
.header-nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 1rem;
    text-align: center;
}

.header-nav ul li a i {
    display: block;
    width: 1px;
    background-color: gray;
    height: 40%;
    margin-top: 15%;
    float: right;
    border-radius: 3px;
    opacity: .5;
}

.pictureLoopContent {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

section {
    width: 80%;
    margin: 0 auto;
}

.home-aside-left {
    width: calc(50% - 2px);
    height: 500px;
    float: left;
    border: 1px gray solid;
    border-top: 0;
}

.home-aside-left ul, .home-aside-right ul {
    width: 100%;
    height: 100%;
}

.home-aside-left ul li {
    width: 100%;
    height: 44px;
    border-bottom: 1px rgba(32, 54, 40, 0.16) solid;
}
.home-aside-left ul li span{
    display: block;
    width: 84%;
    height: 100%;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.home-aside-left ul li label{
    display: block;
    float: right;
    padding-right: 15px;
    width: 13%;
    height: 100%;
}

.home-aside-left ul li:first-of-type {
    height: 50px;
    list-style: none;
}

.home-aside-left ul li:first-of-type span {
    display: block;
    height: 100%;
    width: 50%;
    border-left: 5px #50b1ff solid;
    line-height: 50px;
    padding-left: 5px;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    float: left;
}

.home-aside-left ul li:first-of-type a {
    display: block;
    float: right;
    width: 50px;
    text-align: right;
    padding-right: 15px;
}

.home-aside-left ul li a {
    display: block;
    width: 98%;
    padding-left: 2%;
    height: 100%;
    line-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
}

.home-aside-left ul li a:hover {
    text-decoration: underline;
    color: #ff5246;
}

.home-aside-right {
    width: calc(50% - 1px);
    height: 500px;
    float: left;
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
}

.home-aside-right li:first-of-type {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}

.home-aside-right li:first-of-type span {
    display: block;
    height: 100%;
    width: 50%;
    border-left: 5px #50b1ff solid;
    line-height: 50px;
    padding-left: 5px;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    float: left;
}

.home-aside-right li:first-of-type a {
    display: block;
    float: right;
    width: 50px;
    text-align: right;
    padding-right: 15px;
    height: 100%;
    line-height: 50px;
    font-size: 1rem;
}

.home-aside-right li:first-of-type a:hover {
    text-decoration: underline;
    color: #ff5246;
}

.home-aside-right li {
    width: calc(30% - 1px);
    height: calc((100% - 50px) / 3 - 1px);
    float: left;
    border-bottom: 1px rgba(32, 54, 40, 0.16) solid;
    border-right: 1px rgba(32, 54, 40, 0.16) solid;
    position: relative;
    overflow: hidden;
}

.home-aside-right li:nth-child(4), .home-aside-right li:nth-child(6), .home-aside-right li:nth-child(8) {
    border-right: 0;
}

.home-aside-right li:nth-child(2) {
    width: 40%;
    height: calc(100% - 50px);
    border-bottom: 0;
}

.home-aside-right li img{
    position: absolute;
}

.home-video {
    clear: both;
    width: 100%;
    height: 330px;
    margin: 0 auto;
    overflow: hidden;
}

.home-video ul:first-of-type li:first-of-type {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}

.home-video ul:first-of-type li:first-of-type span {
    display: block;
    height: 100%;
    width: 50%;
    border-left: 5px #50b1ff solid;
    line-height: 50px;
    padding-left: 5px;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    float: left;
}

.home-video ul:first-of-type li:first-of-type a {
    display: block;
    float: right;
    width: 50px;
    text-align: right;
    padding-right: 15px;
    height: 100%;
    line-height: 50px;
    font-size: 1rem;
}

.home-video ul:first-of-type li:first-of-type a:hover {
    text-decoration: underline;
    color: #ff5246;
}
.video-list ol{
    position: relative;
}
.video-list li{
    float: left;
    width: 380px !important;
    height: 260px !important;
    border-left:0 !important;
    position: absolute;
    margin-top: 10px;
    box-shadow:5px 5px 10px 2px #9F9F9F;
    cursor: pointer;
}
.video-list li img{
    width: 100%;
    height: 100%;
}


footer {
    clear: both;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    background-color: #4E5465;
}

/*新闻样式开始*/
.news {
    width: 100%;
    height: 800px;
}

.news-tab {
    width: 20%;
    height: 100%;
    float: left;
}

.news-tab ul {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    margin-top: 1px;
    border-radius: 5px;
    border: 1px rgba(111,111,111,.8) solid;
}

.news-tab ul li {
    width: calc(100% - 5px);
    height: 45px;
    padding-left: 2%;
    cursor: pointer;
    line-height: 45px;
    border-bottom: 1px grey solid;
}
.news-tab ul li:hover{
    color: #0E8AF8;
    font-weight: bold;
}

.news-content {
    width: calc(80% - 2px);
    height: 100%;
    border-left: 2px rgba(17, 25, 19, 0.16) solid;
    float: left;
}

.news-content ul {
    width: 100%;
    height: 100%;
    position: relative;
}

.news-content ul li {
    width: 96%;
    height: 100%;
    padding: 0 2%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}

.n-news-list{
    width: 100%;
    height: 90px;
    position: relative;
    border-bottom: 1px dashed #9F9F9F;
    margin-top: 8px;
}
.n-news-list span{
    display: block;
    width:calc(100% - 102px);
    height: 70px;
    font-size: 1.2rem;
    letter-spacing: 5px;
    line-height: 70px;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.n-news-list label{
    display: block;
    width:calc(100% - 102px);
    height: 20px;
    text-align: right;
    position: absolute;
    top:70px;
    line-height:20px;
    color:red;
}

.n-news-list img{
    position: absolute;
    left:calc(100% - 96px);
    width: 86px;
    height: 86px;
    border: 2px #def7f0 solid;
}

.newsDetail{
    width: 100%;
    min-height: 500px;
}
.newsDetail h3{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 21px;
    font-weight: bold;
}

.newsDetail-info{
    width: 100%;
}
.newsDetail-info span{
    display: block;
    width: 30%;
    float: left;
    margin-left: 3.3%;
    text-align: center;
}
.newsDetail-content{
    clear: left;
    padding: 5px;
    margin-top: 35px;
    width: calc(100% - 10px);
}


.pictures {
    width: 100%;
    height:auto;
}

.pictures-tab {
    width: 100%;
    min-height: 45px;
    height:auto;
    background-color: #9F9F9F;
}
.pictures-tab ul{
    width: 100%;
    height: 100%;
}
.pictures-tab ul li{
    display: inline-block;
    margin-left: 15px;
    color:#fff;
    height: 15px;
    padding:5px 8px;
    margin-top: 10px;
    cursor: pointer;
}
.pictures-tab-focus{
    background-color: #4E5465;
}
.pictures-tab ul li:first-of-type{
    color:#FF5722;
    margin-left: 10px;
    cursor: auto;
}
.pictures-tab ul li:hover{
    background-color: #4E5465;
}
.pictures-tab ul li:first-of-type:hover{
    background-color: #9F9F9F;
}
.showImg{
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.5);
    display:-webkit-flex;
    display:-moz-flex;
    display:flex;
    display:-ms-flexbox;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    /*垂直居中*/
    /*老版本语法*/
    -webkit-box-align: center;
    -moz-box-align: center;
    /*混合版本语法*/
    -ms-flex-align: center;
    /*新版本语法*/
    -webkit-align-items: center;
    align-items: center;
    /*水平居中*/
    /*老版本语法*/
    -webkit-box-pack: center;
    -moz-box-pack: center;
    /*混合版本语法*/
    -ms-flex-pack: center;
    /*新版本语法*/
    -webkit-justify-content: center;
    justify-content: center;
}
.showImg img{
    border:3px #cccccc solid;
}

.pictures-content{
    width: 100%;
    height: 800px;
    overflow-y: scroll;
    background-color: rgba(95,184,120,.2);
}
.pictures-content ul{
    width: 100%;
    height: 100%;
    position: relative;
}
.pictures-content ul li{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow-y: scroll;
}


.p-picture-list{
    position: relative;
    float: left;
    width:300px;
    height: 200px;
    cursor: pointer;
    margin-top: 12px;
}
::-webkit-scrollbar
{
    width: 0;
    height: 0;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.p-picture-list img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.p-picture-list span{
    display: block;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 1rem;
    color: #fff;
    top:164px;
    background-color: rgba(0,0,0,.5);
}


.v-video-list li{
    display: inline-block;
    width: 240px;
    height: 160px;
    position: relative;
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid #cccccc;
}

.v-video-list li i{
    font-size: 50px;
    position: absolute;
    top:45px;
    left:95px;
    color:#9F9F9F;
}

.v-video-list li img{
    width: 100%;
    height: 100%;
}
.v-video-list li span{
    display: block;
    width: calc(100% - 5px);
    height: 35px;
    font-size: 1rem;
    line-height:35px;
    padding-left: 5px;
    background-color: rgba(0,0,0,.3);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#fff;
    position: absolute;
    bottom:0;
}

.questionnaire-content{
    width: 100%;
    min-height: 500px;
}
.questionnaire-content ul{
    width: 100%;
}
.questionnaire-content ul li{
    width: 100%;
    height: 50px;
    border-bottom: 1px gray solid;
    margin-top: 15px;
    padding-bottom: 10px;
}
.questionnaire-content ul li:last-child{
    margin-bottom: 15px;
}
.questionnaire-content ul li span{
    display: block;
    width: 78%;
    height: 100%;
    line-height: 50px;
    padding-left: 10px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.questionnaire-content ul li label{
    display: block;
    width: 12%;
    float: left;
    height: 100%;
    line-height: 50px;
    text-align: right;
    padding-right: 10px;
}
.questionnaire-content ul li a{
    display: block;
    float: left;
    width: calc(10% - 20px);
    height: 100%;
    line-height: 50px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(68,181,73,.5);
}
.questionnaire-content ul li a:hover{
    color:red;
    background-color: rgb(68,181,73);
}